USE [khasanov]
GO
/****** Object:  Table [dbo].[addresses]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[addresses](
	[id_address] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_address] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id_category] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_category] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[manufacturers]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[manufacturers](
	[id_manufacturer] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](120) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_manufacturer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id_item] [int] IDENTITY(1,1) NOT NULL,
	[id_order] [int] NOT NULL,
	[id_tovar] [int] NOT NULL,
	[qty] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_item] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id_order] [int] IDENTITY(1,1) NOT NULL,
	[date_start] [date] NOT NULL,
	[date_end] [date] NULL,
	[id_address] [int] NOT NULL,
	[id_user] [int] NULL,
	[code] [int] NOT NULL,
	[id_state] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[products]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[products](
	[id_tovar] [int] IDENTITY(1,1) NOT NULL,
	[article] [nvarchar](30) NOT NULL,
	[name] [nvarchar](150) NOT NULL,
	[unit] [nvarchar](20) NOT NULL,
	[price] [decimal](10, 2) NOT NULL,
	[max_discount] [int] NOT NULL,
	[id_manufacturer] [int] NOT NULL,
	[id_provider] [int] NOT NULL,
	[id_category] [int] NOT NULL,
	[discount] [int] NOT NULL,
	[qty] [int] NOT NULL,
	[description] [nvarchar](max) NULL,
	[photo] [nvarchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[providers]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[providers](
	[id_provider] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](80) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_provider] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[roles]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[roles](
	[id_role] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[states]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[states](
	[id_state] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_state] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user_import]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user_import](
	[Ðîëü_ñîòðóäíèêà] [nvarchar](50) NOT NULL,
	[ÔÈÎ] [nvarchar](50) NOT NULL,
	[Ëîãèí] [nvarchar](50) NOT NULL,
	[Ïàðîëü] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 19.02.2026 2:11:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id_user] [int] IDENTITY(1,1) NOT NULL,
	[fio] [nvarchar](150) NOT NULL,
	[login] [nvarchar](100) NOT NULL,
	[password] [nvarchar](100) NOT NULL,
	[id_role] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id_user] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[addresses] ON 

INSERT [dbo].[addresses] ([id_address], [name]) VALUES (1, N'344288, г. Чапаевск, ул. Чехова, 1')
INSERT [dbo].[addresses] ([id_address], [name]) VALUES (3, N'394242, г. Чапаевск, ул. Коммунистическая, 43')
INSERT [dbo].[addresses] ([id_address], [name]) VALUES (2, N'614164, г. Чапаевск, ул. Степная, 30')
SET IDENTITY_INSERT [dbo].[addresses] OFF
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id_category], [name]) VALUES (2, N'Рисование')
INSERT [dbo].[categories] ([id_category], [name]) VALUES (1, N'Творчество')
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[manufacturers] ON 

INSERT [dbo].[manufacturers] ([id_manufacturer], [name]) VALUES (1, N'АртМир')
INSERT [dbo].[manufacturers] ([id_manufacturer], [name]) VALUES (2, N'Волшебная мастерская')
INSERT [dbo].[manufacturers] ([id_manufacturer], [name]) VALUES (3, N'ОригамиПлюс')
SET IDENTITY_INSERT [dbo].[manufacturers] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id_item], [id_order], [id_tovar], [qty]) VALUES (1, 1, 1, 2)
INSERT [dbo].[order_items] ([id_item], [id_order], [id_tovar], [qty]) VALUES (2, 2, 2, 1)
INSERT [dbo].[order_items] ([id_item], [id_order], [id_tovar], [qty]) VALUES (3, 3, 3, 1)
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

INSERT [dbo].[orders] ([id_order], [date_start], [date_end], [id_address], [id_user], [code], [id_state]) VALUES (1, CAST(N'2022-05-10' AS Date), CAST(N'2022-05-16' AS Date), 1, 23, 931, 1)
INSERT [dbo].[orders] ([id_order], [date_start], [date_end], [id_address], [id_user], [code], [id_state]) VALUES (2, CAST(N'2022-05-11' AS Date), CAST(N'2022-05-17' AS Date), 2, 7, 932, 1)
INSERT [dbo].[orders] ([id_order], [date_start], [date_end], [id_address], [id_user], [code], [id_state]) VALUES (3, CAST(N'2022-05-13' AS Date), CAST(N'2022-05-19' AS Date), 3, 23, 933, 1)
SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[products] ON 

INSERT [dbo].[products] ([id_tovar], [article], [name], [unit], [price], [max_discount], [id_manufacturer], [id_provider], [id_category], [discount], [qty], [description], [photo]) VALUES (1, N'А112Т4', N'Творческий набор', N'ШТ.', CAST(889.00 AS Decimal(10, 2)), 30, 1, 1, 1, 2, 6, N'Творческий набор юного художника для рисования', N'А112Т4.jpg')
INSERT [dbo].[products] ([id_tovar], [article], [name], [unit], [price], [max_discount], [id_manufacturer], [id_provider], [id_category], [discount], [qty], [description], [photo]) VALUES (2, N'H648T5', N'Набор для рисования', N'ШТ.', CAST(849.00 AS Decimal(10, 2)), 15, 2, 2, 2, 4, 12, N'Набор для рисования и творчества в чемоданчике с мольбертом', N'H648T5.jpg')
INSERT [dbo].[products] ([id_tovar], [article], [name], [unit], [price], [max_discount], [id_manufacturer], [id_provider], [id_category], [discount], [qty], [description], [photo]) VALUES (3, N'G753H6', N'Набор для рисования', N'ШТ.', CAST(1999.00 AS Decimal(10, 2)), 10, 3, 2, 2, 5, 4, N'Набор для рисования и творчества, 145 предметов, розовый', N'G753H6.png')
SET IDENTITY_INSERT [dbo].[products] OFF
GO
SET IDENTITY_INSERT [dbo].[providers] ON 

INSERT [dbo].[providers] ([id_provider], [name]) VALUES (3, N'АртКвартал')
INSERT [dbo].[providers] ([id_provider], [name]) VALUES (2, N'Буквоед')
INSERT [dbo].[providers] ([id_provider], [name]) VALUES (1, N'Леонардо')
SET IDENTITY_INSERT [dbo].[providers] OFF
GO
SET IDENTITY_INSERT [dbo].[roles] ON 

INSERT [dbo].[roles] ([id_role], [name]) VALUES (1, N'Администратор')
INSERT [dbo].[roles] ([id_role], [name]) VALUES (3, N'Клиент')
INSERT [dbo].[roles] ([id_role], [name]) VALUES (2, N'Менеджер')
SET IDENTITY_INSERT [dbo].[roles] OFF
GO
SET IDENTITY_INSERT [dbo].[states] ON 

INSERT [dbo].[states] ([id_state], [name]) VALUES (2, N'Готов к выдаче')
INSERT [dbo].[states] ([id_state], [name]) VALUES (1, N'Новый')
SET IDENTITY_INSERT [dbo].[states] OFF
GO
INSERT [dbo].[user_import] ([Ðîëü_ñîòðóäíèêà], [ÔÈÎ], [Ëîãèí], [Ïàðîëü]) VALUES (N'Àäìèíèñòðàòîð', N'Ñîëîâüåâ Òèìîôåé Ìàðêîâè÷', N'jsdrg8x0zqp5@outlook.com', N'2L6KZG')
INSERT [dbo].[user_import] ([Ðîëü_ñîòðóäíèêà], [ÔÈÎ], [Ëîãèí], [Ïàðîëü]) VALUES (N'Àäìèíèñòðàòîð', N'Ñàâåëüåâà Ìàéÿ Ìèõàéëîâíà', N's8w0btpz94o7@gmail.com', N'uzWC67')
INSERT [dbo].[user_import] ([Ðîëü_ñîòðóäíèêà], [ÔÈÎ], [Ëîãèí], [Ïàðîëü]) VALUES (N'Àäìèíèñòðàòîð', N'Íàçàðîâ Àíäðåé Íèêèòè÷', N'lq6tsbvy5gue@yahoo.com', N'8ntwUp')
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id_user], [fio], [login], [password], [id_role]) VALUES (7, N'Севастьянова София Савельевна', N'340quyv18aoi@yahoo.com', N'LdNyos', 3)
INSERT [dbo].[users] ([id_user], [fio], [login], [password], [id_role]) VALUES (10, N'Соловьев Тимофей Маркович
', N'jsdrg8x0zqp5@outlook.com
', N'2L6KZG
', 1)
INSERT [dbo].[users] ([id_user], [fio], [login], [password], [id_role]) VALUES (11, N'Савельева Майя Михайловна
', N's8w0btpz94o7@gmail.com
', N'uzWC67
', 1)
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__addresse__72E12F1BF48570D0]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[addresses] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__categori__72E12F1BC2BFD756]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[categories] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__manufact__72E12F1B415CFEEC]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[manufacturers] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__order_it__BC5F20CCEE8C6C13]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[order_items] ADD UNIQUE NONCLUSTERED 
(
	[id_order] ASC,
	[id_tovar] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__orders__357D4CF93AC48F84]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[orders] ADD UNIQUE NONCLUSTERED 
(
	[code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__products__8D48A89985B155F7]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[products] ADD UNIQUE NONCLUSTERED 
(
	[article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__provider__72E12F1B66CD6A33]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[providers] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__roles__72E12F1BF1254B6E]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[roles] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__states__72E12F1B3F1879AB]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[states] ADD UNIQUE NONCLUSTERED 
(
	[name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__users__7838F2721119BA43]    Script Date: 19.02.2026 2:11:28 ******/
ALTER TABLE [dbo].[users] ADD UNIQUE NONCLUSTERED 
(
	[login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [max_discount]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [discount]
GO
ALTER TABLE [dbo].[products] ADD  DEFAULT ((0)) FOR [qty]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([id_order])
REFERENCES [dbo].[orders] ([id_order])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD FOREIGN KEY([id_tovar])
REFERENCES [dbo].[products] ([id_tovar])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([id_address])
REFERENCES [dbo].[addresses] ([id_address])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([id_state])
REFERENCES [dbo].[states] ([id_state])
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD FOREIGN KEY([id_user])
REFERENCES [dbo].[users] ([id_user])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([id_category])
REFERENCES [dbo].[categories] ([id_category])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([id_manufacturer])
REFERENCES [dbo].[manufacturers] ([id_manufacturer])
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD FOREIGN KEY([id_provider])
REFERENCES [dbo].[providers] ([id_provider])
GO
ALTER TABLE [dbo].[users]  WITH CHECK ADD FOREIGN KEY([id_role])
REFERENCES [dbo].[roles] ([id_role])
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD CHECK  (([qty]>(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([discount]>=(0) AND [discount]<=(100)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([max_discount]>=(0) AND [max_discount]<=(100)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([price]>(0)))
GO
ALTER TABLE [dbo].[products]  WITH CHECK ADD CHECK  (([qty]>=(0)))
GO
